*
{
    margin: 0;
    padding: 0;
}

header
{
    padding: 5px;
    background-color:lightblue;
}

header nav 
{
  text-align: center;
}


header nav a
{
    color: black;
    font-size: 35px;
    margin: 100px;
}

header nav h1
{
    color: rgb(12, 154, 193);
    font-size: 75px;
}

.main 
{
    border:  1px solid black;
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1, 400px);
    gap: 10px;
}

.Area
{
    text-align: center;
    border:  1px solid black;
}

main h1
{
    color: rgb(12, 154, 193);
    font-size: 45px;
    text-align: center;
    padding: 25px;
}

main h2
{
    color: rgb(12, 154, 193);
    font-size: 35px;
    text-align: center;
    word-spacing: 1000px;
}

button
{
    margin: 50px;
    font-size: 30px;
    color: white;
    background-color: rgb(12, 154, 193);
}

label
{   
    font-size: 30px;
}

input.Text
{
    height: 20px;
    width: 500px;
}

main div.Area div.Registrarse p
{
    font-size: 20px;
    margin: 20px;
}



