*
{
    margin: 0;
    padding: 0;
}

header
{
    padding: 5px;
    background-color:lightblue;
}

header nav 
{
  text-align: center;
}


header nav a
{
    color: black;
    font-size: 35px;
    margin: 100px;
}

header nav h1
{
    color: rgb(12, 154, 193);
    font-size: 75px;
}

main article.Repuestos p
{
    font-size: 75px;
    color: rgb(12, 154, 193);
    padding: 25px;
    text-align: center;
}

main article.Repuestos form
{
    display: flex;
    justify-content: center;
}

main article.Repuestos form img
{
    padding: 25px;
}

main article.Ofertas 
{
    padding: 100px;
    background-color: gray;
}

main article.Ofertas form h1
{
    font-size: 50px;
    color: white;
    text-align: center;
}

main article.Ofertas form p
{
    font-size: 40px;
    text-align: center;
    padding: 20px;
}

main article.Ofertas form button
{
    width: 150px;
    height: 50px;
    font-size: 15px;
    left:46%;
    position: absolute;
}
